

{% extends '_base.html' %}

{% block page_title %}
Successful

{% endblock page_title %}

{% block content %}
<div class="container mt-3 " style="width: 40rem;">
    <h1>Password reset sent</h1>
    <br><br>
    <h3>
        We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.

If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
<br><br>
Attention: since we are in development phase sent mail is shown in console.
    </h3>

</div>


{% endblock content %}


