{% extends '_base.html' %}

{% block page_title %}
My Duties

{% endblock page_title %}

{% block content %}



<div class="container mt-4">
    <div class="row">
        {% for duty in duties%}
        <div class="col-9">
            <div class="card shadow-sm my-3">
                <div class="card-body">
                    {% if duty.done_status == 'not' %}
                    <h5 class="card-title"><a class="text-decoration-none" href="{{duty.get_absolute_url}}">{{ duty }}</a></h5>
                    {% else %}
                    <h5 class="card-title"><a class="text-decoration-none" href="{{duty.get_absolute_url}}"><del>{{ duty }}</del></a></h5>
                    {% endif %}
                    <h5 class="card-title">Deadline: {{ duty.deadline_date }}</h5>

                    <h6 class="card-subtitle mb-2 text-muted small py-2">Date of creation : {{ duty.created_date }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted small py-2">Last edit: {{ duty.updated_date }}</h6>
                    


                    <p class="card-text py-3">
                        {{ duty.description|truncatewords:10 }}
                    </p>
                    <h5 class="card-title">Done Status:  
                        {% if duty.done_status == 'not' %}
                        <span style="color: red;">Not Done Yet!</span>
                        {% else %} <span style="color: blue;">Done!</span>
                        {% endif %}
                    </h5>
                    <br>
                    <div style="display: flex; gap: 10px;"> <a class="btn btn-info" href="{{ duty.get_absolute_url }}">Read More</a>
                        <a class="btn btn-warning" href="{% url 'duty_update' pk=duty.id %}">Edit</a>
                        <a class="btn btn-danger" href="{% url 'duty_delete' pk=duty.id %}">Delete</a>
                        <!-- <a class="btn btn-danger" href="{% url 'change_status' pk=duty.id %}">Change Done Status</a> -->
                        <form method="post" action="{% url 'change_status' pk=duty.id %}">
                            {% csrf_token %}
                            <button class="btn btn-danger" type="submit">Change Done Status</button>
                        </form>

                        

                    </div>
                    


                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col-3">

                <div class="card my-4">
                    <h5 class="card-header">Attention</h5>
                    <div class="card-body">
                        <p class="card-text">
                            This ToDo list is belong to {{request.user.email}}. If you are not {{request.user.email}}, please log out.
                        </p>
                        <a href="{% url 'logout' %}"
                           class="btn btn-sm btn-danger">
                            Log Out
                        </a>
                    </div>
                </div>

        </div>
    </div>
</div>


{% endblock content %}




