{% extends '_base.html' %}

{% block page_title %}
Home

{% endblock page_title %}

{% block content %}
<div class="container mt-3 " style="width: 40rem;">
    

    {% if user.is_authenticated %}
    <h3>You can see your todo list <a class="text-decoration-none" href="{% url 'duty_list' %}">here</a></h3>
    {% else %}
    <h3>In order to use this app, you should first <a class="text-decoration-none" href="{% url 'login' %}">Login</a></h3>
    <h3>Don't have an account. <a class="text-decoration-none" href="{% url 'signup' %}">Signup</a> now!</h3>
    <h3>Forget password?? ooops! click <a class="text-decoration-none" href="{% url 'password_reset'%}">Here!</a></h3>
    {% endif %}
</div>


{% endblock content %}